/* the permalink icon */
h1 .anchor svg,
h2 .anchor svg,
h3 .anchor svg,
h4 .anchor svg,
h5 .anchor svg,
h6 .anchor svg {
  position: absolute;
  left: -24px;
  height: 100%; /* vertically center */
  width: 20px;
  transition: all 0.2s;
  opacity: 0;
}
h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg {
  opacity: 1;
}
